.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    background-color: rgb(37, 17, 17);
    color: white;
    font-size: 18px;

    /* makeshift way to make a sticky navbar */
    /* TODO: find a better fix */
    position: sticky;
    top: 0.1px;
}



.logo{
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
}

.nav-links{
    display: flex;
    padding: 8px;
    flex-direction: row;
    justify-content: space-evenly;

}

.nav-links > div{
    display: flex;
    padding: 12px;

}

.nav-links > div > a{
    color: white;
    text-decoration: none;
}