#Incubation > .container,
#alumni > .container,
#contact > .container {
  display: flex;
  flex-direction: column;
}

.mainDiv {
  max-width: 100%;
  height: 90vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.nameCard {
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.nameCard1 {
  color: azure;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.mainDiv1 {
  max-width: 100%;
  background-color: #444444;
  color: rgb(43, 41, 41);
  height: 100vh;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainDiv2 {
  max-width: 100%;
  background-color: #eea010;
  color: rgb(43, 41, 41);
  height: 100vh;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cards1 {
  border-radius: 2%;
  height: 80%;
  width: 40%;
  padding: 2%;
  margin: 2%;
  color: rgb(43, 41, 41);
  background-color: rgb(245, 245, 245);
}
.cards2 {
  border-radius: 2%;
  height: 80%;
  width: 50%;
  /* padding:2%; */
  margin: 2%;
  color: rgb(43, 41, 41);
  background-color: rgba(245, 245, 245, 0);
}
.container {
  display: flex;
  flex-direction: row;
  align-items: space-around;
}
.track1 {
  width: 50%;
}
.dwnBtn {
  height: 2em;
  width: 8em;
  padding: 5px;
}

.mainDivAbt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5%;
}
.hadding {
  font-weight: 400;
  margin: 1%;
}

.section {
  display: flex;
  /* flex-direction:row; */
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 1%;
}
.vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 5px;
  margin-right: 5px;
}
.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-left: 5px;
  padding: 5px;
}
.vedioDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aqua;
}
.twoDiv {
  display: flex;
}
.oneDIv {
  display: flex;
}
.vedioCard {
  height: 40vh;
  width: 60vh;
  background-color: blue;
  margin: 1.5%;
}
.pastEventContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.headingPastEvent {
  /* width:100%; */
  text-align: center;
  margin: 20px 10px;
}
.headingPastEvent h1 {
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px 40px;
}
.cards {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  padding: 2%;
  justify-content: center;
  align-items: center;
}
.card1 {
  width: 30%;
  min-width: 300px;
  height: 50vh;
  background-color: #eea010;
  margin: 2px;
  border-radius: 10px;
}
.startup-single-container {
  padding: 30px 30px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
  box-shadow: 2px 0 35px 5px rgb(68 88 144 / 12%);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  background: white;
  color: #0099ff;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  border: 2.5px solid #66ccff;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #0099ff;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
.pricing .box {
  padding: 20px;
  background: #f3eeee;
  height: 550px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f9f9f9;
}

.pricing .box h3 {
  font-weight: 400;
  padding: 15px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #493c3e;
}

.pricing .box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing .box .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  border: 2px solid #0099ff;
  color: #0099ff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translateX(50%);
}

.pricing .box .btn-buy:hover {
  background: #0099ff;
  color: #fff;
  font-size: 16px;
}
.icon-contact {
  display: flex;
  height: 5rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #1f1e1a;
  color: #fff;
  border-radius: 100%;
}



.noti-top>p{
  font: inherit;
  font-weight: bold;
}

